{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
    <form action="{% url 'editusuarios' usuario_actual %}" method="POST">
        {% csrf_token %}
        <div class="forma">
            <label for="ingresar-nombre">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name="nombre_usuario" value="{{datos_act.nombre_usuario}}">
  

            <label for="ingresar-nombre">Nombre completo</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name="nombre_completo_usuario" value="{{datos_act.nombre_completo_usuario}}">


            <label for="ingresar-codigo">Contraseña</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="password_usuario" value="{{datos_act.password_usuario}}">


        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
                
                    <button class="guardar-producto" type="submit">
                        Guardar nuevo usuario
                    </button>

            </div>
        </footer>
    </form>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-top">
                <div class="dataTable-dropdown">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                    class="dataTable-sorter">Nombre</a></th>
                                <th data-sortable="" style="width: 23.2012%;"><a href="#"
                                        class="dataTable-sorter">Nombre completo</a></th>
                            </tr>
                        </thead>

                        {%for lista in listausuarios%}
                        <tr>

                            <td>{{lista.nomre_usuario}}</td>
                            <td>{{lista.nombre_completo_usuario}}</td>

                            <th data-sortable="" style="width:11.125%;"><a href="{%url 'editclientes' lista.codigo_cliente%}"
                                    class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                    data-original-title="Editar usuario">
                                    Editar
                                </a></td>
                                </td>



                                </td>
                        </tr>
                        {%endfor%}

                </div>
            </div>
            </body>

            </html>
            <script src="{% static 'assets/js/feather-icons/feather.min.js'%}"></script>
            <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
            <script src="{% static 'assets/js/app.js'%}"></script>
            <script src="{% static 'assets/vendors/chartjs/Chart.min.js'%}"></script>
            <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js'%}"></script>
            <script src="{% static 'assets/js/pages/dashboard.js'%}"></script>

            <script src="{% static 'assets/js/main.js'%}"></script>
            {%endblock%}