{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
    <form action="{% url 'editproducto' producto_actual %}" method="POST" >
        {% csrf_token %}
        <div class="forma">
            <label for="ingresar-nombre">Añadir nombre del producto</label>
            <input type="text" class="form-control" id="formGroupExampleInput1" name="nombre_productos" value="{{datos_act.nombre_productos}}">


            <label for="ingresar-codigo">Añadir codigo del producto</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" name="codigo_productos" value="{{datos_act.codigo_productos}}">

            <label for="ingresar-precio-compra">Añadir precio de compra</label>
            <input type="text" class="form-control" id="formGroupExampleInput3" name="preciocompra_productos" value="{{datos_act.preciocompra_productos}}" >

            <label for="ingresar-precio-compra">Añadir precio de venta</label>
            <input type="text" class="form-control" id="formGroupExampleInput4" name="precioventa_productos" value="{{datos_act.precioventa_productos}}" >

            <label for="ingresar-cantidad">Añadir cantidad</label>
            <input type="text" class="form-control" id="formGroupExampleInput5" name="cantidad_productos" value="{{datos_act.cantidad_productos}}">
            <div class="card-header">
                seleccionar categoria de producto
            </div>
            <select class="dataTable-selector form-select" name="categoria_productos">
                {% for categoria in listacategoria%}
                <option value="{{categoria.codigo_categoria}}" {% if categoria.codigo_categoria == datos_act.categoria_productos %} selected {% endif %}>
                    {{categoria.nombre_categoria}}
                </option>
                {% endfor %}
            </select>



        </div>
        <footer>
            <div class="footer clearfix mb-0 text-muted">
               
                    <button class="guardar-producto">
                        Guardar Producto
                    </button>
            

            </div>
        </footer>
    </form>
    </body>

    </html>
    <script src="{% static 'assets/js/feather-icons/feather.min.js'%}"></script>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js'%}"></script>
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js'%}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js'%}"></script>
    <script>
        function checker() {
            var result = confirm('Estas seguro que quieres guardar este producto');
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>   

    <script src="{% static 'assets/js/main.js'%}"></script>
    {%endblock%}