{%extends 'cabecera.html'%}
{% load static %}
{%block cabecera%}
<form>  
<div>
    <div class="forma">
        <label for="ingresar-codigo">Ingresar monto no superior al actual: </label> 
        <input type="text" class="form-control" id="formGroupExampleInput2" >
        <label for="ingresar-codigo">Ingresar motivo</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" >
   
        <button class="guardar-producto1" onclick=""  type="submit"> 
            Retirar dinero
        </button>
    </div>
    
</div>
</form>
{%endblock%}